*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
body{
    background-color: #202124;
}
.element {
    font-size: 125px;
    transition: all .2s ease-in-out;
    margin-bottom: 200px;
}

.element:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
    cursor: pointer;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.element:active {
    transform: scale(0.1);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-3deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(3deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buildings-container {
    margin-left: auto;
    width: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-right: 1px solid #3c4043;
    overflow: auto;
}

.element-container {
    width: calc(100vw - 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.element-counter {
    margin-top: -42px;
    margin-bottom: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(104, 104, 104, 0.842);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.counter {
    font-size: 28px;
    line-height: 30px;
    color: #FFF;
}

.per-second {
    font-size: 16px;
    line-height: 30px;
    color: #FFF;
}


particle {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    font-size: 40px;
}