.building {
    display: flex;
    flex-direction: column;
    background: #303134;
    cursor: pointer;
    width: 450px;
    border-radius: 10px;
    margin-top: 10px;
    color:#e8eaed;
    padding: 10px;

}
.building-header, .building-footer{
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.building-header{
    margin-bottom: 5px;
}
.building-footer{
    justify-content: center;
}
.building-qte{
    font-size: 13px;
    margin-top: 3px;

}
.building-perSecond{
    margin-left: auto;
    padding-right: 5px;
}
.building-body{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px;
}
.building-image img {
    width: 70px;
}

.building-count {
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
    font-size: 32px;
}

.building-name {
    font-size: 20px;
    line-height: 30px;
}
.building-price {
    font-size: 16px;
}

.disabled{
    opacity: .5;
    pointer-events: none;
}
