<div class="buildings-container">
    <div class="buildings-header">
        <span class="material-icons menu-item" title="Batiments" routerLink="/buildings" routerLinkActive="active-menu">
            maps_home_work
        </span>
        <span class="material-icons menu-item" title="Bonus" routerLink="/bonus" routerLinkActive="active-menu">
            settings
        </span>
        <span class="material-icons menu-item" title="Stats" routerLink="/stats" routerLinkActive="active-menu"> 
            leaderboard
        </span>
    </div>

    <router-outlet style="margin-top:15px"></router-outlet>
</div>